<table class="table table-striped w-75 m-auto mt-3">
    <thead>
        <tr>
            <th>#</th>
            @for (column of columns(); track column.key) {
                <th (click)="sortTable(column.key)">
                    {{column.label}}
                    @if(isDescSorting(column.key)) {
                        <span>⬇️</span>
                    }
                    @if(isAscSorting(column.key)) {
                        <span>⬆️</span>
                    }
                </th>
            }
            <th>Options</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- to do: repaird sorting( not working! ) -->
        @for (customer of paginatedCustomers; track customer.id) {
            <tr app-menu-customer [customer]="customer" (updatedCustomer)="onCustomerUpdated($event)" (deletedCustomer)="onCustomerDeleted($event)"></tr>
    }
    </tbody>
</table>
<mat-paginator [length]="customers().length" [pageSize]="10" [showFirstLastButtons]="true" [pageSizeOptions]="[5,10,20,50]" (page)="onPageEvent($event)"></mat-paginator>